body {
    font-family: Poppins;
    background: transparent;
    color: white;
}

a {
    color: white;
    text-decoration-line: none;
}

.mainContainter {
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#mainSectionTitle {
    font-size: 72px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0%;
}

.mainNavOptions {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 6%;
    margin-right: 6%;
    cursor: pointer;
}

.mainNavOptions h4 {
    margin-right: 2%;
    cursor: pointer;
}

@media screen and (max-width: 820px) {
    #mainSectionTitle {
        font-size: 36px;
    }

    .mainNavOptions {
        font-size: 12px;
    }
}

@media screen and (max-width: 420px) {
    #mainSectionTitle {
        font-size: 24px;
    }

    .mainNavOptions {
        font-size: 10px;
    }
}